:vars {
  --foreground: #dfe4dd;
  --background: #0f1511;
  --cursor: #dfe4dd;
  --primary: #94d5a8;
  --on-primary: #00391e;
  --secondary: #b6ccb9;
  --on-secondary: #213527;
  --tertiary: #a3cddb;
  --on-tertiary: #023640;
  --surface: #0f1511;
  --surface-bright: #353b36;
  --error: #ffb4ab;
  --error-dim: #ff8678;
  --on-error: #690005;
  --error-container: #93000a;
  --outline: #8a938b;
  --shadow: #000000;
  --red: #ffb595;
  --red-dim: #ff9162;
  --green: #9cd49f;
  --green-dim: #78c57d;
  --yellow: #b8cf84;
  --yellow-dim: #a3c15f;
  --blue: #afc6ff;
  --blue-dim: #7ca2ff;
  --magenta: #e4b7f3;
  --magenta-dim: #d48bec;
  --cyan: #84d5c4;
  --cyan-dim: #5ec8b2;
  --white: #82d3e0;
}
